= image_tag @user.picture_url
%h1= "#{ @user.first_name } #{ @user.last_name } (#{ @user_id })"
- word = @user.summary.split(' ').keep_if{ |s| s.length > 2 }.sample.sub(/[ ,.]/, '')
%h2= link_to word, "/bol/suggestions/#{ word }"
%p= @user.summary
%p= @user.headline
