= image_tag @user.picture_url
%h1= "#{ @user.first_name } #{ @user.last_name } (#{ @user_id })"
%h2= @user.summary.split(' ').keep_if{ |s| s.length > 2 }.sample.sub(/[ ,.]/, '')
%p= @user.summary
%p= @user.headline
