!!!
%html
  %head
    %title TnwPresents
    = stylesheet_link_tag    "application", :media => "all"
    = requirejs_include_tag "application"
    = csrf_meta_tags

  %body
    
    %div.global-nav
      = image_tag 'logo.png'
      %h1 The GiftShop

    %div.wrapper
      = yield
