!!!
%html
  %head
    %title SendGift
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application.js"
    = csrf_meta_tags

  %body
    
    %div.global-nav
      = image_tag 'logo.png'
      %h1 SendGift

      .credits
        A
        = link_to "#TNW2013", "http://thenextweb.com/conference/europe/speakers#hackbattle"
        hack by
        = link_to "Jasper Kennis", "http://jasperkennis.nl/"
        and
        = link_to "Yoeran Luteijn", "http://yoeran.com/"

    %div.wrapper
      = yield
